#login{
    background-color: black;
    color:white;
    width: 400px;
    height: 200px;
    text-align: center;
    padding-top: 20px;
}
#login #condition{
    margin-top:20px;
    margin-bottom: 20px;
}